Package: big-reset
Version: 1.0.0-1big2
Depends: bigbashview
Architecture: all
Maintainer: Elton Fabricio <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:296
Description: Clean configuration of apps and parts of system



