Package: big-reset
Version: 1.0.0-1big1
Depends: bigbashview
Architecture: all
Maintainer: Elton Fabricio <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:60
Description: Clean configuration of apps and parts of system



