Package: big-reset
Version: 1.0.1-0big4
Depends: biglinux-config
Architecture: all
Maintainer: eltonff <eltonfabricio10@gmail.com>
Section: admin
Priority: optional
Installed-Size:520
Description: Replaced by biglinux-config

